<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

    <!--<meta charset="UTF-8">-->
    <!--<title>Kullanıcı İşlemleri </title>-->



<!--</head>-->
<!--<body>-->
<!--<div id="div1">-->
<!--<td><label id="lb_name"> a</label ></td>-->
<!--<td><label id="lb_lastName">b</label></td>-->
<!--<td><label iid="lb_email">c</label></td>-->
<!--</div>>-->
<!--</body>-->

<!--<script>-->

    <!--var user ={};-->

    <!--$(document).ready(function(){-->
            <!--/*$.("#lb_name") = data.-->
            <!--$.("#lb_lastName") =data.-->
            <!--$.("#lb_email") =*/-->
        <!--$("#div1").load("kullaniciOlustur")-->
        <!--/*});*/-->
    <!--});-->


<!--</script>>-->
<!--</html>-->
<!-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
</head>

<body>
	<h1>User Table</h1>

    <div id="result">
        asd
    </div>

    <script>

        // $(document).ready( function () {
        //     $.post( "/kullaniciIslemleriAPI?name=Ahmet&type=3", function( data ) {
        //         $( "#result" ).html( data );
        //     })
        // })


        //
        //     var table = $('#userTable').DataTable({
        //         "sAjaxSource": "/kullaniciIslemleri",
        //         "sAjaxDataProp": "",
        //         "order": [[ 0, "asc" ]],
        //         "aoColumns": [
        //             { "mData": "name" },
        //             { "mData": "lastName" },
        //             { "mData": "email" },
        //             { "mData": "password" },
        //         ]
        //     })
        // });



    </script>
</body>
</html>
